<div class="vl"></div>

<div style="margin-left:40%">
    <h4 style="padding:5px; color:darkorange">
        <i>
            Dear user,<br />
            Thank you for choosing our web application.<br />
            You are now on the About page...
        </i>
    </h4>
    <h5 style="padding:5px; color:darkorange">
        Vizi is a Restaurant Review application designed for browsing dozens of restaurants in Skopje,
        it was designed by students from FINKI. Some of the key features of the application are the ability to <br />
        browse restaurants to be able to add a rating and a review if you register as a "User" and if you register as<br />
        a "Manager" you will be able to add your restaurants here which in turn will make your restaurant more popular but it
        can also make it less popular if you get a lot of bad reviews... For all the "User" and "Manager"s<br />
        the rating and adding of reviews are anonymous so you can be as honest as you want, on the other
        hand if you misuse this freedom you will have your account banned.
    </h5>

    <h4 style="padding:5px; color:darkorange">
        <i>"Have a Great Vizi 'cuz it's Easy!"</i>
    </h4>
</div>

<div class="vl1"></div>

<style>

    body {
        background: url(../Images/BackgroundAll.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat:no-repeat;
    }

    .vl {
        border-left: 2px solid darkorange;
        height: 100px;
        margin-top: 2%;
        margin-left: 60%;
    }
    .vl1 {
        border-left: 2px solid darkorange;
        height: 100px;
        margin-left: 60%;
    }
</style>

@section Scripts{

}